[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[packages]

certifi = "*"
chardet = "*"
Django = "*"
django-cors-header = "*"
gunicorn = "*"
idna = "*"
pymongo = "*"
pytz = "*"
requests = "*"
urllib3 = "*"

[dev-packages]

